Mako==0.7.3
MarkupSafe==0.15
MySQL-python==1.2.3
PAM==0.4.2
Pillow==2.0.0
Twisted-Core==12.3.0
Twisted-Names==12.3.0
Twisted-Web==12.3.0
adium-theme-ubuntu==0.3.3
apt-xapian-index==0.45
argparse==1.2.1
chardet==2.0.1
configglue==1.0
debtagshw==0.1
defer==1.0.6
dirspec==4.2.0
distribute==0.6.34
duplicity==0.6.21
httplib2==0.7.7
lxml==3.1.0
oauthlib==0.3.7
oneconf==0.3.3
pexpect==2.4
piston-mini-client==0.7.5
protobuf==2.4.1
pyOpenSSL==0.13
pycrypto==2.6
pycups==1.9.62
pycurl==7.19.0
pygobject==3.8.0
pyinotify==0.9.3
pyserial==2.6
pysmbc==1.0.13
python-apt==0.8.8ubuntu6
python-debian==0.1.21-nmu2ubuntu1
pyxdg==0.25
reportlab==2.6
rhythmbox-ubuntuone==4.2.0
sessioninstaller==0.0.0
six==1.2.0
software-center-aptd-plugins==0.0.0
system-service==0.1.6
ubuntuone-storage-protocol==4.2.0
unity-lens-photos==0.9
virtualenv==1.9.1
wsgiref==0.1.2
xdiagnose==3.5
zope.interface==4.0.5
