{% include 'header.html' %}
<h4>Agiliq info solutions india pvt ltd</h4>

<p>
Agiliq is an app development studio building web and mobile apps.

We develop custom web applications using Django, Python and Jquery. We build native mobile apps using Java, Objective-C, Phonegap and other modern tools. We primarily work with startups, small businesses and other agencies.

We love building amazing apps. We have done it in the past. We are doing it right now, and we can do it for you.

Interested? Contact us today. 
</p>

{% include 'footer.html' %}
